button, button:focus{
    outline: none !important;
}
label.error{
    font-size: 12px;
    font-weight: normal;
    color: #f00;
}
.register-box h3.title{
    font-size: 20px;
    margin: 10px 0 15px;
    text-align: center;
}
.login-box,.signup-box {
    max-width: 60%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.loginBtn {
    padding: 9px 15px 9px 46px;
}
.group-item{
    color: #333333;
}
.dropdown-menu{
    width: 220px;
    left: auto;
    right: 0;
}
.dropdown-menu a{
    display: block;
    padding: 7px 15px;
    border-bottom: 1px solid #efefef;
}
.dropdown-menu a:last-child{
    border-bottom: none;
}
.home-page .jquery-accordion-menu, .search-page .jquery-accordion-menu{
    height: 312px;
    overflow: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.group-item a {
    font-style: normal
}
.group-item a:hover {
    background-color:limegreen
}

.jquery-accordion-menu::-webkit-scrollbar {
    width: 2px;
}

.jquery-accordion-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.jquery-accordion-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.top-detail-product .product-info.color .kt-checkbox.orange span {
    background: #FFA500;
}
.top-detail-product .product-info.color .kt-checkbox.yellow span {
    background:#FFFF00;
}
.top-detail-product .product-info.color .kt-checkbox.blue span {
    background: #0000FF;
}
.top-detail-product .product-info.color .kt-checkbox.violet span {
    background: #7f00ff;
}
.top-detail-product .product-info.color .kt-checkbox.pink span {
    background: #FFC0CB;
}
.top-detail-product .product-info.color .kt-checkbox.purple span {
    background:#800080;
}
.top-detail-product .product-info.color .kt-checkbox.white span {
    background: #FFFFFF;
}
.option-box ul li span {
    width: 70%;
}
.collapsed ul{
    max-height: 210px;
    overflow: hidden;
    transition: height 0.6s ease-out;
}
.collapsed .readmore{
    display: block;
    padding: 10px 10px 15px 15px;
}
.collapsed.show ul{
    height: auto;
    max-height: initial;
    overflow: visible;
    transition: height 0.6s ease-out;
}
.jquery-accordion-menu>ul>li {
    width: 100%;
    position: initial;
}
.cart-product .p-info .wishlist:hover{
    cursor: pointer;
}
.quantity .input-group .quantity-input {
    width: 33px;
    height: 33px;
    border-left: none;
    border-right: none;
    padding: 0;
    text-align: center;
}
.jquery-accordion-menu .sub-menu{
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 810px;
    background: #FFFFFF;
    z-index: 999;
    padding: 15px;
    height: 354px;
    margin-left: -18px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.menu-item a{
    width: 100%;
    padding: 7px 15px;
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid #efefef;
    -o-transition: color .2s linear,background .2s linear;
    -moz-transition: color .2s linear,background .2s linear;
    -webkit-transition: color .2s linear,background .2s linear;
    transition: color .2s linear,background .2s linear;
}
.menu-item a img{
    margin-right: 5px;
}
.jquery-accordion-menu>ul>li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    box-shadow: 2px 2px 6px 0 rgba(17,29,43,.24);
}
.sub-menu>ul{
    width: 250px;
    float: left;
}
.sub-menu>ul>li>a{
    padding: 5px 15px;
    display: block;
    color: #333;
}
.products .product-item .product-title {
    height: 53px;
    overflow: hidden;
}
.products .product-item .product-img {
    height: 235px;
}
.categories-page .products .product-item .product-img {
    height: 179px;
}
.categories-page .custom-col-lg-12 .products .col-lg-custom-2 .product-item .product-img {
    height: 235px;
}
.location #map{
    min-height: 635px;
}
.location-detail #map{
    min-height: 735px;
}
.maps{width:100%;padding-bottom:20px;padding-top:20px;text-align:center}
.maps .info span{line-height:20px}
.maps .images{max-width:323px;padding-top:10px;padding-bottom:10px}
.maps .maps_title{font-weight:600;font-size:18px;color:#e0001a}
.maps .maps_phone,.maps .maps_address,.maps .icon-auchan-82{font-size:14px}
.maps .maps_phone a{color:#e0001a}
.maps .open-time{color:#00995f;font-size:12px;font-style:italic;position:relative;padding-left:13px}
.maps .maps_image{bottom:0}
.image-tag__bounds-wrapper{
    right: 0;
    width: 650px;
    margin: auto;
}
.image-pane-surface img{
    max-width: 100%;
}
.reviews h3{
    margin-bottom: 20px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.custom-control{
    border-radius: 0;
    box-shadow: none;
    padding: 10px 10px;
    height: 40px;
}
.custom-control-area{
    border-radius: 0;
    box-shadow: none;
    padding: 10px 10px;
    min-height: 40px;
}
.list-district ul li.w25 {
    flex: 0 0 32%;
    width: 32%;
    padding: 15px 5px;
}
::-webkit-file-upload-button {
    outline: none;
    background:#FFFFFF;
    color: #f58831;
    padding: .7em 2em;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
#review_message{
    margin: 10px 0 15px;
    padding: 10px;
}
#review_message.success{
    color: #1dc9b7;
    border: 1px solid #1dc9b7;
}
#review_message.error{
    color: #f58831;
    border: 1px solid #f58831;
}
.nav-extend ul {
    justify-content: start;
}
.nav-extend ul li{
    margin-right: 15px;
}

.py-3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#addressbook .card.address-item {
    padding: 15px;
    border: 1px dashed;
    border-radius: 20px;
    margin-bottom: 30px;
}
.mt-3{
    margin-top: 1rem;
}
.input-group-search{
    max-width: 100%;
}
.category-product-event {
    margin-top: 20px;
}
.jquery-accordion-menu>ul>li.active>a, .sub-menu>ul>li>a:hover, .sub-menu>ul>li.active>a{
    color: #f58831;
}
.group-product-wrapp{
    position: relative;
}
.loading {
    position: absolute;
    top: -15px;
    left: 10px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, .9);
}
/*
SEARCH HEADER
*/
.auto-complete-search-box {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 0px 3px #abb1c0;
    font-size: 14px;
    left: 15px;
    overflow: hidden;
    transition: all 0.4s;
    padding: 0 10px;
    position: absolute;
    right: 15px;
    top: 17px;
    z-index: 90;
    max-width: 360px;
}
.auto-complete-search-box{top:70px}
.auto-complete-search-box .item-products{padding-bottom:10px}
.auto-complete-search-box .item-products:first-child{padding-top:20px}
.auto-complete-search-box{z-index:9999}

.auto-complete-search-box .item-products {
    border-bottom: 1px solid #ddd;
    padding: 7px 0px
}

.auto-complete-search-box .item-products p {
    margin-bottom: 5px
}

.auto-complete-search-box .item-products:first-child {
    margin-top: -10px;
}

.auto-complete-search-box .item-products .title-products {
    display: block;
}

.auto-complete-search-box .item-products .voted {
    margin-bottom: 10px
}

.auto-complete-search-box .item-products .voted .auc-star,
.auto-complete-search-box .item-products .voted .auc-star-empty {
    color: #ff7e1f
}

.auto-complete-search-box .item-products .price b {
    font-size: 14px;
}

.auto-complete-search-box .item-products .price span {
    color: #999;
    text-decoration: line-through
}

.auto-complete-search-box .item-products .badge {
    color: #fff
}

.auto-complete-search-box .view-more-search {
    background: #EFEFF1;
    padding: 10px 30px;
    text-align: center
}
.view-more-search a{
    color: #333;
}
.hover-cursor{
    cursor: pointer;
}
/*
END SEARCH HEADER
*/
.input-group {
    max-width: 100%;
}
#address_book .btn-primary, #address_book .btn-primary:hover, .btn-continue {
    color: #fff;
    background-color: #00833d;
    border-color: #00833d;
    border-radius: 30px;
    margin-right: 20px;
    padding: 9px 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#address_book .btn-success, #address_book .btn-success:hover, .btn-cancel{
    color: #fff;
    background: #f58831;
    border-color: #f58831;
    border-radius: 30px;
    margin-right: 20px;
    padding: 9px 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.services-box li .box-item img {
    height: 72px;
    width: auto;
}
.user-info>a{
    color: #00833d !important;
}
.cart-item{
    position: relative;
}
.cart-item #cart-num{
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: #f58831;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-style: normal;
}
.resetpass_msg_1, .resetpass_msg_2{
    margin-bottom: 10px;
}
.resetpass_msg_3{
    margin-top: 10px;
}

.custom-home-lg-2{
    width: 20%;
}

.table-responsive p{
    line-height: 26px;
}
.table-responsive table{
    margin-top: 10px;
}
.btn-cancel{
    margin-bottom: 20px;
}
.cate-main .dropdown-menu {
    left: 0;
    right: auto;
    min-height: 356px;
    margin: 0;
    border: 0;
}
.section-cate{
    margin-bottom: 20px;
    margin-top: -20px;
    background: #ffffff;
    box-shadow: 0px 0 3px #ddd;
}
.cate-main .dropdown-toggle, 
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover{
    width: 100%;
    background: transparent;
    border: 1px solid #efefef;
    border-radius: 0;
    color: initial;
    text-align: left;
}
.cate-main .dropdown-toggle .caret{
    margin-top: 7px;
}
.cate-main .dropdown-toggle img{
    width: 20px;
    margin-right: 10px;
}
.cate-main .dropdown-toggle{
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    background: #00833d;
    color: #fff;
}
.section-cate .cate-main .dropdown-toggle{
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    color: #333333;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: transparent;
    box-shadow: none;
}
.cate-main>ul{
    padding: 0;
    border-radius: 0;
}
.cate-main>ul>li>a {
    display: block;
    padding: 9px 15px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid #efefef !important;
    -o-transition: color .2s linear,background .2s linear;
    -moz-transition: color .2s linear,background .2s linear;
    -webkit-transition: color .2s linear,background .2s linear;
    transition: color .2s linear,background .2s linear;
}
.cate-main>ul>li>a>img{
    margin-right: 5px;
}
.cate-main>ul>li>.sub-menu{
    position: absolute;
    left: 108%;
    top: 0;
    min-width: 810px;
    background: #FFFFFF;
    z-index: 999;
    padding: 15px;
    height: 354px;
    margin-left: -18px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    box-shadow: 2px 2px 6px 0 rgba(17,29,43,.24);
}
.cate-main>ul>li:hover>.sub-menu{
    opacity: 1;
    visibility: visible;
}
.child-cat>a{
    padding-left: 35px !important;
}
.section-cate .sep2{
    display: none;
}
.section-cate.affix .sep1{
    display: none;
}
.section-cate .sep1{
    display: initial;
}
.section-cate.affix .sep2{
    display: initial;
}
.section-cate.affix .cate-main .dropdown-toggle, .section-cate.affix .nav-extend ul li a{
    color: #FFFFFF;
}
.section-cate .nav-extend{
    margin-top: 7px;
}
.section-cate .sep2{
    display: none;
}
.section-cate.affix .sep1{
    display: none;
}
.section-cate .sep1{
    display: initial;
}
.section-cate.affix .sep2{
    display: initial;
}
.section-cate.affix{
    top: 0;
    left: 0;
    right: 0;
    background: #00833d;
    z-index: 999;
    padding: 0;
    margin-top: 0;
    box-shadow: 0 0 3px #ccc;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar__inner{
    height: 770px !important;
    overflow: auto;
}
.sidebar__inner::-webkit-scrollbar {
    width: 0px;
}

.sidebar__inner:hover::-webkit-scrollbar {
    width: 2px;
}

.sidebar__inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
.group-product-wrapp{
    min-height: 800px;
}
.home-page .group-product-wrapp, .product-detail-page .group-product-wrapp{
    min-height: initial;
}
#off_footer{
    margin-top: 30px;
}
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover{
    border: none;
    background: transparent;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-shadow: none;
}
.service-product .product-item .product-img {
    height: 300px;
}
.categories-page .service-product .product-item .product-img {
    height: 235px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #f58831;
    background-color:transparent;
}
.maps .images {
    max-width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.categories-page .jquery-accordion-menu{
    margin-bottom: 20px;
}
.old-pr{
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 15px;
}
.sp-pr{
    color: #f00;
}
#back-top {
    bottom: 115px;
    display: none;
    height: 55px;
    position: fixed;
    right: 12px;
    width: 55px;
    border: 3px solid #00833d;
    z-index: 9999;
    border-radius: 30px;
    cursor: pointer;
    background: #00833d;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}
.fade.in {
    overflow-y: auto;
}
#store_modal.modal.fade.in .kt-radio.kt-radio--success>input:checked~span:after{
    display: block;
}
.products .product-item {
    position: relative;
    min-height: 272px;
}
.saleoff {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.dlhf-badge {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    font-weight: 700;
    float: right;
    margin-left: .3125rem;
}
.dlhf-badge--fixed-width {
    width: 45px;
    height: 45px;
}
.dlhf-badge--promotion {
    background:url('../images/speacial.png') no-repeat;
    background-size: contain;
}
.dlhf-badge--promotion__label-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    text-align: center;
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
}
.dlhf-badge--promotion__label-wrapper__off-label {
    color: #fff;
    margin: 2px 0;
}
.dlhf-badge--promotion .percent{
    display: block;
    line-height: 41px;
}
.old-price{
    text-decoration: line-through;
    font-style: italic;
    color: #555;
    font-size: 20px;
}
.cart-list .body-list .body-item.price span.old-pr{
    margin: 0;
}

.order-cart-content .order-cart-content-item p:nth-child(2){
    flex: 0 0 50%;
    width: 50%;
}
.order-cart-content .order-cart-content-item p:last-child {
    text-align: right;
    flex: 0 0 25%;
}
.banner {
    max-height: 300px;
}
/* ============== PHONE RING */
.fone {
    font-size: 22px;
    color: #f00;
    line-height: 40px;
    font-weight: bold;
    padding-left: 45px;
    margin: 0 0;
}
.fix_tel { 
    position:fixed; 
    top:30%; 
    right:15px; 
    z-index:999;}
.fix_tel a {
    text-decoration: none; 
    display:block;
}
.tel { 
    background: #eee;
    width:205px; 
    height:40px; 
    position:relative; 
    overflow:hidden;
    background-size:40px;
    border-radius:28px;
    border:solid 1px #ccc;
}
.ring-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 80px;
    position: absolute;
    transition: visibility 0.5s ease 0s;
    visibility: hidden;
    width: 80px;
    z-index: 200000 !important;
}
.ring-alo-phone.ring-alo-show {
    visibility: visible;
}
.ring-alo-phone.ring-alo-hover, .ring-alo-phone:hover {
    opacity: 1;
}
.ring-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 70px;
    left: 10px;
    opacity: 0.1;
    position: absolute;
    top: 12px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}
.ring-alo-phone.ring-alo-active .ring-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running ring-alo-circle-anim !important;
}
.ring-alo-phone.ring-alo-static .ring-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim !important;
}
.ring-alo-phone.ring-alo-hover .ring-alo-ph-circle, .ring-alo-phone:hover .ring-alo-ph-circle {
    border-color: #f00;
    opacity: 0.5;
}
.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-circle, .ring-alo-phone.ring-alo-green:hover .ring-alo-ph-circle {
    border-color: #baf5a7;
    opacity: 0.5;
}
.ring-alo-phone.ring-alo-green .ring-alo-ph-circle {
    border-color: #f00;
    opacity: 0.5;
}
.ring-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running ring-alo-circle-fill-anim;
    background-color: #000;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 30px;
    left: 30px;
    opacity: 0.1;
    position: absolute;
    top: 33px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 30px;
}
.ring-alo-phone.ring-alo-hover .ring-alo-ph-circle-fill, .ring-alo-phone:hover .ring-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75 !important;
}
.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-circle-fill, .ring-alo-phone.ring-alo-green:hover .ring-alo-ph-circle-fill {
    background-color: #00833d;
    opacity: 0.75 !important;
}
.ring-alo-phone.ring-alo-green .ring-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75 !important;
}

.ring-alo-ph-img-circle {
    animation: 1s ease-in-out 0s normal none infinite running ring-alo-circle-img-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 30px;
    left: 30px;		    
    opacity: 1;
    position: absolute;
    top: 33px;
    transform-origin: 50% 50% 0;
    width: 30px;
}

.ring-alo-phone.ring-alo-hover .ring-alo-ph-img-circle, .ring-alo-phone:hover .ring-alo-ph-img-circle {
    background-color: #f00;
}
.ring-alo-phone.ring-alo-green.ring-alo-hover .ring-alo-ph-img-circle, .ring-alo-phone.ring-alo-green:hover .ring-alo-ph-img-circle {
    background-color: #00833d;
}
.ring-alo-phone.ring-alo-green .ring-alo-ph-img-circle {
    background-color: #f00;
}
@keyframes ring-alo-circle-anim {
	0% {
	    opacity: 0.1;
	    transform: rotate(0deg) scale(0.5) skew(1deg);
	}
	30% {
	    opacity: 0.5;
	    transform: rotate(0deg) scale(0.7) skew(1deg);
	}
	100% {
	    opacity: 0.6;
	    transform: rotate(0deg) scale(1) skew(1deg);
	}
}

@keyframes ring-alo-circle-img-anim {
	0% {
	    transform: rotate(0deg) scale(1) skew(1deg);
	}
	10% {
	    transform: rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
	    transform: rotate(25deg) scale(1) skew(1deg);
	}
	30% {
	    transform: rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
	    transform: rotate(25deg) scale(1) skew(1deg);
	}
	50% {
	    transform: rotate(0deg) scale(1) skew(1deg);
	}
	100% {
	    transform: rotate(0deg) scale(1) skew(1deg);
	}
}
@keyframes ring-alo-circle-fill-anim {
	0% {
	    opacity: 0.2;
	    transform: rotate(0deg) scale(0.7) skew(1deg);
	}
	50% {
	    opacity: 0.2;
	    transform: rotate(0deg) scale(1) skew(1deg);
	}
	100% {
	    opacity: 0.2;
	    transform: rotate(0deg) scale(0.7) skew(1deg);
	}
	}
	.ring-alo-ph-img-circle a img {
	    padding: 1px 0 0 1px;
	    width: 25px;
	    position: relative;
	    top: -1px;
	}
}
/* ============== END PHONE RING */
#back-top:hover {
    background-color: #f58831;
    border: 3px solid #f58831;
}
@media (max-width: 1440px) {
	.jquery-accordion-menu>ul>li>a span {
        width: 80%;
    }
    .sidebar__inner {
        height: 550px !important;
    }
    .cate-nav-wrapp .col-lg-2 {
        width: 20%;
    }
    .cate-nav-wrapp .col-lg-10 {
        width: 80%;
    }
}

@media (max-width: 1400px) {

}

@media (max-width: 1366px) {
	.jquery-accordion-menu>ul>li>a span {
        width: 77%;
    }
    .cate-nav-wrapp .col-lg-2 {
        width: 20%;
    }
    .cate-nav-wrapp .col-lg-10 {
        width: 80%;
    }
}
.copper{
    color: rgb(148, 138, 84);
}
.silver{
    color: rgb(166, 166, 166);
}
.gold{
    color: rgb(255, 192, 0);
}
.loyalty-content-wrapp p{
    line-height: 26px;
}
.loyalty-content-wrapp ul{
    line-height: 30px;
    margin: 10px 0 10px 10px;
}
.loyalty-content-wrapp p.italic{
    font-style: italic;
}
.loyalty-content-wrapp h2 {
    margin: 30px 0 30px;
}
.loyalty-content-wrapp table{
    margin-top: 20px;
}
.body-loading{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    display: none;
}
.body-loading img{
    margin-top: 20%;
}
.body-loading.show{
    display: block;
}