
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model JavaFlorist.ViewModels.TempOccasionViewModel

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Bouquet Info</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Edit Bouquet Info</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Bouquet Details</h3>
                        
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" asp-area="admin" asp-controller="bouquet" asp-action="edit">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Bouquet ID</label>
                                <input type="text" class="form-control" asp-for="Bouquet.Id" readonly>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" asp-for="Bouquet.Name">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" asp-for="Bouquet.Description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" class="form-control" asp-for="Bouquet.Price">
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Occasion</label>
                                <div class="panel panel-default">
                                    <div class="row">
                                        @for (var i = 0; i < Model.TempOccasions.Count; i++)
                                        {
                                            <div class="col-sm-6 col-md-6">
                                                <input type="hidden" asp-for="TempOccasions[i].Id" />
                                                <input type="hidden" asp-for="TempOccasions[i].Name" />
                                                <input type="checkbox" asp-for="TempOccasions[i].IsChecked" />
                                                <label asp-for="TempOccasions[i].Id">@Model.TempOccasions[i].Name</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Show on website for booking</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" asp-for="Bouquet.Status" value="true">
                                    Ready
                                    <br />
                                    <input class="form-check-input" type="radio" asp-for="Bouquet.Status" value="false">
                                    Not Ready
                                </div>
                            </div>
                            <input type="hidden" asp-for="Bouquet.Id" />
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Bouquet Photo</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <img src="~/images/bouquets/@ViewBag.bouquet.Photo" height="300" width="300"/>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
