<div class="middle-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo"><a asp-controller="home" asp-action="index"><img width="160" src="~/images/footer-logo.png"></a></div>
            </div>
            <div class="col-lg-4">
                <form  asp-controller="bouquet" asp-action="search">
                    <div class="input-group">
                        <input class="form-control" type="text" id="placeholder-type-writter" name="keyword" placeholder="Search" value="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary btn-search" type="submit"><img width="18" src="~/images/search.svg"></button>
                        </div>
                    </div>
                    <div class="completesearch"></div>
                </form>
            </div>
            <div class="col-lg-6">
                <ul class="box-group pull-right">
                    <li>
                        <div style="padding-top:6px"><button type="button" class="btn btn-success btnlogin" onclick="location.href='@Url.Action("login", "account")'">Login</button></div>
                    </li>
                    <li>
                        <div class="group-item">
                            <div class="icon">
                                <img width="30" src="~/images/phone.svg">
                            </div>
                            <div class="item-text"><a style="font-style: normal;"><span class="head-text">xxxx-xxxx</span></a><span class="sub-text">From 08:00 - 20:00</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="group-item cart-item">
                            <div class="icon">
                                <a asp-controller="cart" asp-action="index">
                                    <img width="30" src="~/images/cart.svg">
                                    <span id="cart-num">0</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


