
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-detail-product">
    <div class="row">
        <div class="col-lg-5">
            <div>
                <figure>
                    <img src="~/images/bouquet/ChaCon_DadSon.jpg" />
                </figure>
            </div>
        </div>
        <div class="col-lg-7">
            <h1 class="title" itemprop="name">Dad & Son</h1>
            <div class="product-feture">

                It is so fortunate and happy that my adult life is always under
                Dad's shadow. In Dad 's eyes, i am a small child forever, always in need of protection. I love you, daddy !
            </div>
            <hr>
            <div class="product-info sku">
                <p>SKU</p>
                <p itemprop="sku">WFAD062005</p>
            </div>
            <div class="product-info quantity">
                <p>Quantity</p>
                <p><input id="quantity" type="text" value="1" name="quantity"></p>
            </div>
            <hr>
            <p>Price at shop</p>
            <div class="price">520.000đ / Bó</div>

            <div class="btn-box">
                <button class="hidden toggle-popupCart" type="button" data-toggle="modal" data-keyboard="false"
                        data-target="#popupCart"></button>
                <button class="btn btn-buy" type="button" data-id="580" data-price="520000" data-unit="" data-quantity=""
                        onclick="return add_cart(this, 2)">
                    Buy Now
                </button>
                <button type="button" data-id="580" data-price="520000" data-unit="" data-quantity=""
                        onclick="return add_cart(this, 1)" class="btn btn-add-to-cart" href="#">
                    Add to Cart
                </button>
            </div>
            <p>
                <small>Actual product images may differ from its illustration (bloom, accessories, etc)</small>
            </p>
            <hr>
            <div class="option-box">
                <ul>
                    <li>
                        <img width="40" src="~/images/delivery.png">
                        <span>

                            2-hour express delivery within 5km
                        </span>
                    </li>
                    <li>
                        <img width="40" src="~/images/present-box.png">
                        <span>
                            Free greeting card
                        </span>
                    </li>
                    <li>
                        <img width="40" src="~/images/eco-nature.png">
                        <span>
                            Guarantee fresh flowers in 3 days
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content-detail-product">
    <h1 class="title">Dad & Son</h1>
    <p>
        It is so fortunate and happy that my adult life is always under
        Dad's shadow. In Dad 's eyes, i am a small child forever, always in need of protection. I love you, daddy !
    </p>
</div>
<div class="related-products group-product-wrapp">
    <h4>Similar products belong "<strong>Father 's Day</strong>"</h4>
    <div class="row products">
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/ChuaChanTinhCam_Expressive.jpg" />
                    </a>
                </div>
                <div class="product-title">
                    <a href="">

                        Expressive
                    </a>
                </div>
                <div class="product-price">650.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/MotGiaDinh_AFamily.jpg" />
                    </a>
                </div>
                <div class="product-title"><a href="">A Family</a></div>
                <div class="product-price">720.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/TinhYeuMauXanh.jpg" />
                    </a>
                </div>
                <div class="product-title"><a href="">Green Love</a></div>
                <div class="product-price">600.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/VietVeCha_AboutMyDad.jpg" />
                    </a>
                </div>
                <div class="product-title">
                    <a href="">About My Dad</a>
                </div>
                <div class="product-price">450.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/Redkalanchoe.png" />
                    </a>
                </div>
                <div class="product-title"><a href="">Red Kalanchoe Pots</a></div>
                <div class="product-price">650.000đ</div>
            </div>
        </div>
    </div>
</div>

