
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dalat Hasfarm - Online Flower Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @*<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">*@

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    @*<link href="~/css/app.css" rel="stylesheet">*@
    <link href="~/css/new.css" rel="stylesheet" />
    @*<link href="~/css/home.css" rel="stylesheet" />*@
    @*<link href="~/css/homereponsive.css" rel="stylesheet" />*@

    <script>
        var root_url = '';
        var theme_url = '';
    </script>

</head>
<body>

    @await Component.InvokeAsync("HomeBar")


    <div class="container">

        @RenderBody()

        <div class="seperate-line"></div>
        @*<div class="container">*@
    <div class="row">
        <div class="col-lg-5 col-xs-12">
            <div class="footer-logo">
                <a>JavaFlorist</a>
                <p>
                    JavaFlorist, known as the flower bouquet website, is the 3rd semester project of the group Cuong, Quang, Vu of class C1803L.
                    <br /> The website is for learning purposes, all content is for reference only.
                </p>
            </div>
        </div>
        <div class="col-lg-2 col-xs-12">
            <div class="footer-menu">
                <h3>WebShop</h3>
                <ul style="padding:0">
                    <li><a href="">Home</a></li>
                    <li><a href="">Manual</a></li>
                    <li><a href="#">Promotion</a></li>
                    <li><a href="">Member Card </a></li>
                    <li><a asp-controller="aboutus" asp-action="index">About Java Florist</a></li>
                    <li><a href="">Shop Dalat Hasfarm</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Shopping Guidelines</a></li>
                    <li><a href="">Terms of Use</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-1 col-xs-12"></div>
        <div class="col-lg-4 col-xs-12">
            <h3>Contact</h3>
            <div class="footer-menu footer-address">
                <div class="container">
                    <div class="row">
                        <img class="m-2" src="~/images/contact/JF_Cuong.jpg" width="68" height="68" />
                        <div>
                            <h4>Cuong Nguyen</h4>
                            <p>Abc@asf.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <img class="m-2" src="~/images/contact/JF_Quang.jpg" width="68" height="68" />
                        <div>
                            <h4>Quang Trinh</h4>
                            <p>Abc@asf.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <img class="m-2" src="~/images/contact/JF_Vu.jpg" width="68" height="68" />
                        <div>
                            <h4>Vu Nguyen</h4>
                            <p>Abc@asf.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        @*</div>*@
        <div class="seperate-line"></div>
        @*<div class="container hidden-xs">*@
    <div class="footer-menu list-payment">
        <img height="45" src="~/images/payment/paypal-logo.jpg">
    </div>
        @*</div>*@
        <div class="copyright">
            <p>© 2020 Javaflorist. All for learning purposes.</p>
        </div>
        <div id="back-top" class="hidden-xs" style="display: block;">
            <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    @*<div class="overlay hidden-lg hidden-md hidden-sm"></div>

        <div class="body-loading">
            <img src="~/images/loading.gif" width="100" alt="">
        </div>*@
    <script type="text/javascript" src="~/js/app.bundle.js"></script>
    <script type="text/javascript" src="~/js/masonry.pkgd.js"></script>
    <script type="text/javascript" src="~/js/slick.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/sticky-sidebar.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.min.js"></script>

    <script type="text/javascript" src="~/js/cart.js"></script>
    <script src="~/js/imageMapResizer.min.js"></script>
    <script>$('map').imageMapResize();</script>
    <script src="~/ladda/spin.min.js" type="text/javascript"></script>
    <script src="~/ladda/ladda.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.geocomplete.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>

</body>
</html>