
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dalat Hasfarm - Online Flower Shop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @*<link type="image/x-icon" href="favicon.ico" rel="shortcut icon">*@

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    @*<link href="~/css/app.css" rel="stylesheet">*@
    <link href="~/css/new.css" rel="stylesheet" />
    @*<link href="~/css/home.css" rel="stylesheet" />*@
    @*<link href="~/css/homereponsive.css" rel="stylesheet" />*@

    <script>
        var root_url = '';
        var theme_url = '';
    </script>

</head>
<body>

    @await Component.InvokeAsync("HomeBar")


    <div class="container">

        @RenderBody()

        <div class="seperate-line"></div>
        @*<div class="container">*@
        <div class="row">
            <div class="col-lg-5 col-xs-12">
                <div class="footer-logo">
                    <a href="#"><img width="250" src="~/images/footer-logo.png"></a>
                    <p>
                        Dalat Hasfarm - Known as the professional pioneer company to initiate <br>planting flowers at Viet
                        Nam was established in 1994. <br>In 2013 Dalat Hasfarm was voted by Flowers Tech Magazine basing in Mỹ Đình
                        as the greatest company in Southeast Asia.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12">
                <div class="footer-menu">
                    <h2>WebShop</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="cam-nang/index.html">Manual</a></li>
                        <li><a href="#">Promotion</a></li>
                        <li><a href="info/the-thanh-vien.html">Member Card </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12">
                <div class="footer-menu">
                    <h2>Infomation</h2>
                    <ul>
                        <li><a asp-controller="aboutus" asp-action="index">About Dalat Hasfarm</a></li>
                        <!-- <li><a href="#">Recruitment</a></li> -->
                        <li><a href="dalathasfarm-shop/index.html">Shop Dalat Hasfarm</a></li>
                        <li><a href="info/chinh-sach-bao-mat.html"> Privacy Policy</a></li>
                        <li><a href="info/huong-dan-mua-hang.html">Shopping Guidelines</a></li>
                        <li><a href="info/dieu-khoan-su-dung.html">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <div class="footer-menu footer-address">
                    <h2>Contact</h2>
                    <ul>
                        <li>
                            <img width="24"
                                 src="~/images/">
                            <span>
                                Email:
                                webshop@dalathasfarm.com
                            </span>
                        </li>
                        <li>
                            <img width="24"
                                 src="">
                            <span>
                                Hotline:
                                1800 6688
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*</div>*@
        <div class="seperate-line"></div>
        @*<div class="container hidden-xs">*@
        <div class="footer-menu list-payment">
            <h2>PAYMENT METHOD</h2>
            <ul>
                <li><a href="#"><img height="45" src="~/images/payment-1.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-2.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-3.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-4.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-5.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-6.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-7.svg"></a></li>
                <li><a href="#"><img height="45" src="~/images/payment-8.svg"></a></li>
            </ul>
        </div>
        @*</div>*@
        <div class="copyright">
            <p>© 2020 Dalathasfarm. All rights reserved.</p>
        </div>
        <div id="back-top" class="hidden-xs" style="display: block;">
            <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    @*<div class="overlay hidden-lg hidden-md hidden-sm"></div>

        <div class="body-loading">
            <img src="~/images/loading.gif" width="100" alt="">
        </div>*@
    <script type="text/javascript" src="~/js/app.bundle.js"></script>
    <script type="text/javascript" src="~/js/masonry.pkgd.js"></script>
    <script type="text/javascript" src="~/js/slick.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/js/jquery.bootstrap-touchspin.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/sticky-sidebar.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.min.js"></script>

    <script type="text/javascript" src="~/js/cart.js"></script>
    <script src="~/js/imageMapResizer.min.js"></script>
    <script>$('map').imageMapResize();</script>
    <script src="~/ladda/spin.min.js" type="text/javascript"></script>
    <script src="~/ladda/ladda.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.geocomplete.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/custom.js"></script>

</body>
</html>