
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="border-wrapp">
        <div class="row">
            <div class="col-lg-9 col-lg-push-3">
                <div class="border-wrapp" style="margin-top:20px">
                    <div class="support-content">
                        <div class="card-box">
                            <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Dalat Hasfarm Infomation</h3>
                        </div>
                        <div class="entry-content">
                            <h4>INTRODUCTION</h4>
                            <p>Company Name: Dalat Hasfarm LTD</p>
                            <p>Headquarter: 450 Nguyen Tu Luc, Da Lat, Lam Dong, Viet Nam</p>
                            <p>Trade Name: Dalat Hasfarm and Hasfarm Young Plants</p>
                            <p>Day of Establishment: June 7 - 1994</p>
                            <p>Employees (2018): 3.100</p>
                            <p>
                                Associated Company: Greenwings Japan, Greenwings New Zealand, Kunming Hasfarm (China), PT Tamora Stekindo (Indonesia).</p>
                            <p>Business Areas: producing, distributing tops, cut flowers and potted flowers in the domestic and export market.</p>
                            <h4>ORIGIN</h4>
                            <p>
                                The mild climate, suitable soil, cornucopia human resources and convenient transportation to international market are the reasons that Mr. Thomas Hooft - the founder of Dalat Hasfarm chose Da Lat, Vietnam - a place 
                                to begin starting a flower-growing farm. With just one hectare of rose and one hectare of carnation grown in simple bamboo greenhouses. Up to now, over the years, we have switched to building greenhouses entirely
                                steel and open two more farms in Da Ron and Da Quy, with an area of ​​nearly 125 hectares. Today, each year Dalat Hasfarm grows up to 200 million flower stems and 250 million seedlings to supply markets worldwide..
                            </p>
                            <h4>VISION</h4>
                            <p>Dalat Hasfarm strives to become the leading choice in the Asia Pacific flower market, a flower supplier with high technology, always innovating and customer-oriented.</p>
                            <p>
                                Achieving this, the company will always create, produce and distribute floral products, plants, seedlings, and related products and services of the best quality, oriented operation. Sustainable Development
                                with the highest social responsibility and commitment to stakeholders.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

